/*
#treeleft2 {
    visibility: hidden;
    width: 204px;
    overflow: hidden;
    overflow-y: auto;

}

#treeleft2 .wrap-tree {
    width: 100%;
    visibility: visible;
    background-color: #f4f5f6;
}
#treeleft2:hover{
    visibility: visible;
}
*/

#wrapaddnew {
    width: 300px;
    height: 165px;
}

#wrapaddnew .nav {
    height: 32px;
    line-height: 32px;
    background-color: #e5e5e5;

}

#wrapaddnew input {
    border: 1px solid #64a2ef;
    line-height: 21px;
    height: 21px;
    width: 263px;
    display: block;
    margin: 24px auto 0;
    padding-left: 5px;
}

#wrapaddnew .op6 {
    margin-top: 36px;
}

#wrapaddnew .close {
    top: -5px;
}

#treeteam {
    margin-top: 20px;
}

#treeteam .depth1 > .jstree-witem > .jstree-icon {
    background-position: -183px 6px;

}

#treeteam .headnav {
    display: none;
}

#treeteam .depth1 > .jstree-witem > .jstree-icon:hover {
    background-position: -183px -23px;
}

#treeteam .depth1.jstree-close > .jstree-witem > .jstree-icon {
    background-position: -213px 6px;

}

#treeteam .depth1.jstree-close > .jstree-witem > .jstree-icon:hover {
    background-position: -213px -23px;
}

#treeteam .depth1.jstree-open > .jstree-witem > .jstree-icon {
    background-position: -213px 6px;

}

#treeteam .depth1.jstree-open > .jstree-witem > .jstree-icon:hover {
    background-position: -213px -23px;
}

.jstree-menu {
    max-height: 140px !important;
}

#setRuleModel {
    position: relative;
    height: 430px;
    width: 795px;
}

#setRuleModel .stopShare {
    cursor: pointer;
}

#setRuleModel .nav {
    height: 31px;
    line-height: 31px;
    background-color: #e5e5e5;
    font-size: 15px;
    padding-left: 15px;

}

#setRuleModel .top .greybox {
    margin-right: 10px;
}

#setRuleModel .content {
    height: 323px;
    border-bottom: 1px solid #e5eaee;
}

#setRuleModel .left {
    width: 95px;
    height: 323px;
    overflow: hidden;
    border-right: 1px solid #e5eaee;

}

#setRuleModel ul {
    margin-top: 12px;
}

#setRuleModel .left li {
    height: 43px;
    line-height: 43px;
    cursor: pointer;
}

#setRuleModel .left li.cur {
    background-color: #e5e5e5;

}

#setRuleModel .right {
    position: absolute;
    left: 115px;
    top: 31px;
    right: 17px;

    height: 238px;
}

#setRuleModel .switch li {
    position: relative;
}

#setRuleModel .switch li > span {
    display: block;
    padding-left: 45px;

}

#setRuleModel .switch span:after {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 23px;
    background: url(common/imgs/result.png) no-repeat -76px -974px;
    margin-top: -10px;
    top: 50%;
}

#setRuleModel .switch li:hover span, #setRuleModel .switch li.cur span {
    color: #63a2ef;
}

#setRuleModel .switch li:hover span:after, #setRuleModel .switch li.cur span:after {
    background-position: -76px -1004px;

}

#setRuleModel .switch li.first span:after {
    background-position: -107px -974px;
}

#setRuleModel .switch li.first:hover span:after, #setRuleModel .switch li.first.cur span:after {
    background-position: -107px -1004px;
}

#setRuleModel .top {
    margin: 20px 18px 20px 0;
}

#setRuleModel .close {
    background-position: -100px -457px;

}

#setRuleModel .search {
    width: 302px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #63a2ef;
    margin: auto 14px;
    padding-left: 9px;
}

#setRuleModel .bottom * {
    vertical-align: middle;
}

#setRuleModel .bottom {
    position: absolute;
    bottom: 21px;
    left: 17px;
    right: 17px;
    line-height: 30px;
}

#setRuleModel .grey {
    color: #9d9d9d;
}

#setRuleModel .greybox {
    margin-right: 7px;
    cursor: pointer;
}
#setRuleModel td .greybox{
    margin-right: 0;
}

#setRuleModel .tips {
    color: #fa6430;
    padding-left: 20px;
    position: relative;
    margin-left: 16px;
    opacity: 0;

}

#setRuleModel .tips:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 20px;
    height: 20px;
    display: block;

    background: url("common/imgs/result.png") -45px -975px no-repeat;

}

#setRuleModel .bottom span:first-child {
    color: #99adb8;
    margin-right: 20px;

}

#setRuleModel table {

    border-collapse: collapse;
    width: 100%;

}

#setRuleModel tr.on td, #setRuleModel .disable td {

    background-color: #f5f5f5;
}

.wraphead {
    border-left: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
    overflow: hidden;
}

.wrapitems2 .wraptable {
    max-height: 203px;
    overflow-x:hidden;
    overflow: auto;
    border: 1px solid #ddd;
    border-bottom: none;
    position: relative;


}

.wraphead span {
    display: inline-block;
    line-height: 33px;
    border-right: 1px solid #ddd;
    text-align: center;
    /*box-sizing: border-box;*/

}

.wraphead span:last-child {
    border-right: 0;
    min-width: 75px;
}

.wraprule td:nth-child(2) div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wraprule td:nth-child(2) div span {
    display: inline-block;
    width: 21px;
    height: 28px;
    vertical-align: top;
    background: url('common/imgs/result.png') no-repeat -90px -25px;
    cursor: pointer;
    position: relative;

}
.wraprule td,.wraphead span{
    width:48px;
}

.wraprule td:nth-child(1),
.wraphead span:nth-child(1) {
    width: 50px;
}

.wraprule td:last-child,
.wraphead span:last-child{
    width: auto;
}


.wraprule td:nth-child(2),
.wraphead span:nth-child(2) {
    width: 256px;
    text-align: left;
    padding-left: 18px;

}

.two-col{
    width:70px !important;
}
.col-1 td:nth-child(2),
.col-1 .wraphead span:nth-child(2),
.col-1 td:nth-child(2) div
 {
    width: 145px;
}

.col-2 td:nth-child(2),
.col-2 .wraphead span:nth-child(2),
.col-2 td:nth-child(2) div
 {
    width: 190px;
}

.col-3 td:nth-child(2),
.col-3 .wraphead span:nth-child(2),
.col-3 td:nth-child(2) div
 {
    width: 212px;
}





.items2 .greybox {
    margin-right: 0;
}

#setRuleModel th {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;

}

.wraprule td, .wraprule th {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    /*box-sizing: border-box;*/
}

.wraprule td:last-child, .wraprule th:last-child {
    border-right: 0px;
}

.wraprule th {
    line-height: 33px;
}

.wraprule td {
    line-height: 28px;
    padding: 0;
}

#setRuleModel .bbutton {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;

}

#setRuleModel #ok5 {
    position: absolute;
    right: 17px;
    margin-right: 0;
    bottom: 21px;
}

#okset {
    margin-left: 20px;
}

.delrule {
    height: 28px;
    width: 30px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    background: url(common/imgs/result.png) -67px -291px no-repeat;
}

.delrule:hover {
    background-position: -67px -331px;
}

.disable .delrule:hover {
    background-position: -67px -291px;
}

.rpart .delrule {
    background-position: -109px 4px;
}

.rpart .delrule:hover {
    background-position: -109px -26px;
}

.rpart .disable .delrule:hover {
    background-position: -109px 4px;
}

#setRuleModel .right > div {
    display: none;
}

#setRuleModel .right .rpart {
    display: block;
}

.addall {
    color: #63a2ef;
    cursor: pointer;
}

.treepop::after {
    left: 14px;
}

.tips-relation {
    position: absolute;
    right: 39px;
    top: 7px;
    z-index: 100;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url('common/imgs/result.png') no-repeat -88px 1px;
}

.tips-relation div {
    display: none;
    position: absolute;
    width: 230px;
    top: 30px;
    right: -10px;
    min-height: 25px;
    line-height: 16px;
    padding: 8px;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    box-shadow: 0px 0px 1px 1px #e4e4e4;
    font-size: 12px;
    color: #9d9d9d;
    z-index: 1000000;
    text-align: left;
}

.tips-relation:hover div {
    display: block;
}

.tpop {
    width: auto;
    font-size: 12px;
}

.tpop:after {
    display: none;
}

#setRuleModel .t1 {
    /*position: relative;*/
}

.t1-index {
    display: block;
    text-align: center;
    width: 100%;
    height:100%;
}

.wbfc {
    overflow: hidden;
}

.addnew {
    margin-top: 5px;
}

#treeleft2 .headnav {
    margin-bottom: 10px;
}

#treeleft2 #treeteam {
    margin-top: 20px;
}





